@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@700&display=swap');

* {
  box-sizing: border-box; /*Isso significa que ele vai somar sempre o padding e o border ao height e ao width */
}

body {
  padding-top: 4rem; /*Colocamos 4rem padding top no body e no header 4rem no heigth do nav para o conteudo ficar sempre abaixo do nav */
  margin: 0;
  color: #333;
  --type-first: Helvetica, Arial, sans-serif;
  --type-second: 'Spectral', georgia;
  /* Como definimos as variaveis no body, terá acesso no aplicativo inteiro  */
  font-family: var(--type-first);
}

h1,
h2, 
h3, 
h4,
p {
  margin: 0px;
}

ul, 
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
  max-width: 100%; /*Imagens responsivas, assim elas só vão expandir no tamanho da tela ou do container que segurar elas */
}

button,
input {
  display: block;
  font-size: 1rem;
  font-family: var(--type-first);
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

.container {
  max-width: 50rem; /*50*16= 800px, essa será a largura máxima site*/
  padding: 0 1rem;
  margin: 0 auto; /*Para alianhar tudo ao centro*/
}

.mainContainer {
  margin-top: 2rem;
}

.title {
  font-family: var(--type-second);
  line-height: 1;
  font-size: 3rem;
  margin: 1rem 0;
  position: relative;
  z-index: 1;
}

.title::after {
  content: '';
  display: block;
  /* um quadradinho */
  width: 1.5rem;
  height: 1.5rem;
  background: #fb1;
  position: absolute;
  bottom: 5px;
  left: -5px;
  border-radius: 0.2rem;
  z-index: -1;
}

.animeLeft {
  opacity: 0;
  transform: translateX(-20px);
  animation: animeLeft .3s forwards;
}

@keyframes animeLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}

/* Para manter uma distância para footer e ele não ficar pulando */
.App {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh + 10rem);
}
.AppBody {
  flex: 1;
  /* Ele vai se expandir */
}
/* Estas configurações acima fazem com que footer comece lá em baixo */

/* Para alinhar ao centro o gráfico */
.VictoryContainer {
  height: initial !important;
}